body {
  background-color: #fff;
  margin-top: 60px;
  margin-bottom: 60px;
}


.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: black;
}

.search-logo {
  font-family: 'Poiret One', cursive;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.footer {
  font-family: 'Poiret One', cursive;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 600px) {
  .search-logo {
    float: right;
  }
}

@media screen and (min-width: 1225px) {
  .search-logo {
    float: right;
  }
}