body {
  background-color: #fff;
  margin-top: 60px;
  margin-bottom: 60px;
}


.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: black;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-family: 'Poiret One', cursive;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  max-width: 810px;
  margin-top: 10%;
  color: black;
}

.search-logo {
  font-family: 'Dancing Script', cursive;
  font-family: 'Poiret One', cursive;
  font-family: 'Quicksand', sans-serif;
  float: right;
}

.footer {
  font-family: 'Dancing Script', cursive;
  font-family: 'Poiret One', cursive;
  font-family: 'Quicksand', sans-serif;
}